/* to solve problem of dynamic height*/
html{height: 100%;}
body{height: 100%;}

#iddiv1{text-align: center; color: blueviolet; background-color: cornsilk; height: 10%;}
#iddiv2{color: blueviolet; background-color: cornsilk; height: 80%;}
#iddiv3{text-align: center; color: blueviolet; background-color: cornsilk; height: 10%;}
#idspan1{color: chartreuse; background-color: blue; display: inline-block; width:20% ;height: 100%;}
#idspan2{color: chartreuse; background-color: rgb(186, 186, 199); display: inline-block; width:59% ;height: 100%;}
#idspan3{color: chartreuse; background-color: rgb(42, 162, 205); display: inline-block; width:20% ;height: 100%;}

#iddiv4{
    width:120px;
    height: 120px; 
    text-align: center;
    border: 10px solid salmon;
    padding: 3px;
    margin: 3px;
    background-color: aquamarine;
    color: rgb(45, 17, 186);
}
#iddiv5{
    width:120px;
    height: 120px; 
    text-align: center;
    border: 2px solid salmon;
    padding: 3px;
    margin: 3px;
    /*visibility:hidden;*/
    display: none;
}
#iddiv6{
    width:120px;
    height: 120px; 
    text-align: center;
    border: 2px solid salmon;
    padding: 3px;
    margin: 3px;
    /*display: inline-block;*/

}

/* Margins of box
    margin :10px 30px  top left or top:10 px auto 
    auto ->automatic 
 */
 #iddiv7{
    width:120px;
    height: 120px; 
    border: 2px solid rgb(114, 250, 150);
    margin:120px 200px ;
 }
 #iddiv8{
    width:120px;
    height: 120px; 
    border: 2px solid rgb(114, 250, 150);
    margin:120px 30px  30px 200px ;
 }
 /* Borders of box
     determine by three attributes 
    border-style = short hand top right bottom left 
    border-width = short hand top right bottom left 
    border-color = short hand top right bottom left 
    border: 2px solid rgb(114, 250, 150);  2px for all width  top right bottom left
                                           solid for all style  top right bottom left
                                           color for all color  top right bottom left

 */
 #iddiv9{
    width:120px;
    height: 120px; 
    /* Border */
    border-width: 3px 6px 9px 12px;
    /*   border-color: blue green red gray;
    color way */
    border-top-color:rgb(120,130,150) ;
    border-right-color: hsla(90, 90%, 40%, .3);
    border-bottom-color: rgba(200, 120, 50, 0.279);
    border-left-color: hsl(100, 62%, 35%);
    border-style: dashed dotted solid groove;
    margin:120px 30px  30px 200px ;
 }
/* Boreder Radius  // Radius of circle
 shorthand property 
 border-radius=10px 20px 10px 40px
 top-left =10px
 top-right=20px
 bottom-left =40px
 bottom-right=10px
*/
